* {
	font-family: "Minoan";
	padding: 0;
	margin: 0;
	font-size: calc(20px + (30 - 20) * ((100vw - 750px) / (1600 - 750)));
}

body {
	background-color: #f6feff;
}

p {
	line-height: calc(30px + (40 - 30) * ((100vw - 750px) / (1600 - 750)));
	position: relative;
	vertical-align: middle;
}

p::before {
	position: absolute;
	left: -5.25rem;
	bottom: -1px;
	color: rgba(0,0,0,0.2);
	vertical-align: middle;
	content: attr(data-ln);
	width: 4rem;
	font-feature-settings: "lnum", "tnum";
	text-align: right;
	text-indent: 0;
}

.indent {
	text-indent: 1.5rem;
}

.center {
	text-align: center;
}

.entry{
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1.5rem;
}

em {
	font-style: italic;
	font-size: inherit;
}

ul{
	box-sizing: border-box;
	list-style-type: none;
	line-height: 1.1rem;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: calc(2.6rem + 6.2vh);
	padding:2vh 4vh;
	z-index: 250;
	background-color: #fcfcfc;
	border: 1px solid black;
	box-shadow: 3px 3px 10px #5a5a5a;
}

/* ul>li{white-space: nowrap;} */

h1 {
	font-size: 1.5rem;
	margin-bottom:35px;
}



div {
	padding: 60px 60px;
	margin: 0 auto 150px auto;
	width: 25rem;
}

div+div {
	margin-top: 60px;
}

section {
	/* background-color: #fcfcfc; */
	padding-left: 20px;
	/* border: 1px solid black; */
	/* box-shadow: 3px 3px 10px #5a5a5a; */
}

section+section {
	margin-top: 75px;
}

/* h2::after {
	position: absolute;
	content: "——————";
	padding: 0px 10px;
} */

h1+section {
	margin-top: 20px;
}

/*section p:nth-child(odd){
	text-indent:1.5rem;
}*/
